<!DOCTYPE html>
<html>

<head>
    <title>Watch Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_watch_log.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <h1>Watch Log</h1>
    <table>
        <tr>
            <th>STT</th>
            <th>PHONE_NUMBER</th>
            <th>DATA</th>
            <th>OPTIONS</th>
        </tr>
        {% for row in log_data %}
        <tr>
            <td>{{ loop.index }}</td> <!-- Thay đổi đoạn này -->
            <td>{{ row[1] }}</td>
            <td contenteditable="true" data-id="{{ row[0] }}" onblur="updateData(this)">{{ row[2] }}</td>
            <!-- Thay đổi đoạn này -->
            <td>
                <button data-id="{{ row[0] }}" onclick="editData('{{ row[0] }}')">
                    <i class="material-icons">build</i> <!-- Biểu tượng cờ lê -->
                </button>
                <button data-id="{{ row[0] }}" onclick="deleteData(this)">
                    <i class="material-icons">delete</i> <!-- Biểu tượng thùng rác -->
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modalMessage"></p>
            <input type="text" id="editDataInput">
            <button onclick="saveEditData()">Save</button>
        </div>
    </div>

    <script>
        function updateData(element) {
            const dataId = element.dataset.id;
            const newData = element.innerText;

            fetch("/update_data", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: `data_id=${dataId}&new_data=${newData}`,
            })
                .then((response) => response.json())
                .then((result) => {
                    if (result.success) {
                        showModalMessage("Update successful", true);
                    } else {
                        showModalMessage("Update failed", false);
                    }
                })
                .catch((error) => {
                    console.error("Error updating data:", error);
                    showModalMessage("Update failed", false);
                });
        }

        function editData(dataId) {
            const modal = document.getElementById("myModal");
            const modalInput = document.getElementById("editDataInput");

            // Lấy dữ liệu hiện tại của cell cần sửa
            const dataCell = document.querySelector(`td[data-id="${dataId}"]`);
            const currentData = dataCell.innerText;

            // Hiển thị modal và điền dữ liệu cần sửa vào input
            modal.style.display = "block";
            modalInput.value = currentData;
            modalInput.dataset.id = dataId;
        }

        function saveEditData() {
            const modal = document.getElementById("myModal");
            const modalMessage = document.getElementById("modalMessage");
            const modalInput = document.getElementById("editDataInput");
            const dataId = modalInput.dataset.id;
            const newData = modalInput.value;

            fetch("/update_data", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: `data_id=${dataId}&new_data=${newData}`,
            })
                .then((response) => response.json())
                .then((result) => {
                    if (result.success) {
                        showModalMessage("Update successful", true);
                        // Cập nhật lại cell trên trang với dữ liệu đã sửa
                        const dataCell = document.querySelector(`td[data-id="${dataId}"]`);
                        dataCell.innerText = newData;
                    } else {
                        showModalMessage("Update failed", false);
                    }
                })
                .catch((error) => {
                    console.error("Error updating data:", error);
                    showModalMessage("Update failed", false);
                });

            closeModal();
        }

        function deleteData(button) {
            const dataId = button.getAttribute("data-id"); // Lấy giá trị thuộc tính data-id của nút (button)

            fetch("/delete_data", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: `data_id=${dataId}`, // Gửi data_id trong phần thân của yêu cầu (request body)
            })
                .then((response) => response.text())
                .then((result) => {
                    if (result === "Success") {
                        // Xóa hàng trong bảng nếu xóa dữ liệu thành công
                        const tableRow = button.parentNode.parentNode;
                        tableRow.remove();
                    } else {
                        showModalMessage("Delete failed", false);
                    }
                })
                .catch((error) => {
                    console.error("Error deleting data:", error);
                    showModalMessage("Delete failed", false);
                });
        }

        function showModalMessage(message, isSuccess) {
            const modalMessage = document.getElementById("modalMessage");
            modalMessage.textContent = message;
            modalMessage.style.color = isSuccess ? "green" : "red";
        }

        function closeModal() {
            const modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>
</body>

</html>