<!DOCTYPE html>
<html>
<head>
    <title>Watch Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_watch_log.css') }}">  <!-- Thêm dòng này để liên kết đến file CSS -->
</head>
<body>
    <h1>Watch Log</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>PHONE_NUMBER</th>
            <th>DATA</th>
        </tr>
        {% for row in log_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td contenteditable="true">{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
